# Packages required for core functionality 
numpy
colorlog
pyyaml==6.0
scipy

# Switch to pypi install when available
s2fft @ git+https://github.com/astro-informatics/s2fft.git@housekeeping/remove_ssht_dependency#egg=s2fft